<div class="container">
  <button mat-icon-button color="primary" (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <form class="form-container" [formGroup]="form" (ngSubmit)="logData()">
    <mat-form-field>
      <input
        [value]
        matInput
        [ngxMatDatetimePicker]="picker"
        placeholder="Choose a start
      time"
        [min]="min"
        [max]="maxDate"
        formControlName="timeArrived"
        (dateInput)="setMaxDate($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker> </ngx-mat-datetime-picker>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        [ngxMatDatetimePicker]="picker2"
        placeholder="Choose an end time"
        formControlName="timeLeft"
        [min]="form.value.timeArrived"
        [max]="maxDate"
        [disabled]="form.value.timeArrived === null"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2> </ngx-mat-datetime-picker>
    </mat-form-field>
    <br />
    <button type="submit" mat-raised-button color="primary">
      Submit
    </button>
  </form>
</div>
