<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/employees" style="outline: none;"
      >Employee's timesheet app</span
    >
    <span class="spacer"></span>
    <button
      mat-raised-button
      (click)="createEmployee()"
      class="nav-button"
      *ngIf="router.url !== '/createEmployee'"
    >
      Create employee
    </button>
    <div class="weather">
      <span>{{ city }} {{ temperature | temp }}</span>
      <span> {{ tempDescription }}</span>
    </div>
    <span class="time">{{ actualTime }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
