<div *ngIf="loading; else createForm" class="spinnerContainer">
  <mat-spinner></mat-spinner>
</div>

<ng-template #createForm>
  <h1 class="mat-h1" style="text-align: center; margin: 10px;">
    Create new employee
  </h1>
  <form
    class="form-container"
    [formGroup]="createEmployeeForm"
    (ngSubmit)="onSubmit()"
    #formDirective="ngForm"
  >
    <!-- <button mat-icon-button color="primary">
      <mat-icon>keyboard_backspace</mat-icon>
    </button> -->
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter employee's first name</mat-label>
        <input
          matInput
          placeholder="Frane"
          formControlName="firstName"
          required
        />
        <mat-error *ngIf="f.firstName.errors?.required">
          First Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter employee's last name</mat-label>
        <input
          matInput
          placeholder="Lukin"
          formControlName="lastName"
          required
        />
        <mat-error *ngIf="f.lastName.errors?.required">
          Last Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="f.email.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="f.email.errors?.email">
          Not a valid email
        </mat-error>
      </mat-form-field>
      <div class="checkbox">
        <mat-checkbox formControlName="role" (change)="setRole($event)">
          Is Admin?</mat-checkbox
        >
      </div>
    </div>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</ng-template>
